<div class="clothesAll">
    <div class="shopHeader">
        <div class="logo">
            <a routerLink="">
                <h1>UDEVSHOP.COM</h1>
            </a>
        </div>
        <div class="shopNavBar">
            <ul>
                <li><a routerLink="/shop/shoes">SHOES</a></li>
                <li><a routerLink="/shop/clothes">CLOTHES</a></li>
                <li><a routerLink="/shop/brands">BRANDS</a></li>
                <li><a routerLink="/shop/sales">SALES</a></li>
                <li><a routerLink="/shop/accessories">ACCESSORIES</a></li>
            </ul>
            <div class="shoppingBasket">
                <i routerLink="/shop/basket" class="fas fa-shopping-basket fa-2x"></i>
                <p>{{numOfProdInCart}}</p>
            </div>
        </div>
    </div>
    <div class="clothesMain">
        <div class="clothesSearch">
            <select name="gender" id="selectGender" (change)="valueFromSelectListGender($event)">
                <option value="all" selected>ALL</option>
                <option value="men">MEN</option>
                <option value="women">WOMEN</option>
                <option value="kids">KIDS</option>
            </select>
            <div class="clothesBrand">
                <h4>CHOOSE BRAND :</h4>
                <form action="?" method="POST" id="chooseBrand" (change)="valueFromBrands($event)">
                    <input type="radio" name="brand" id="brand" value="nike"> NIKE
                    <input type="radio" name="brand" id="brand" value="adidas"> ADIDAS
                    <input type="radio" name="brand" id="brand" value="under armour"> UNDER ARMOUR
                </form>
            </div>
            <div class="clothesSize">
                <h4>CHOOSE SIZE :</h4>
                <form action="?" method="POST" id="chooseSize" (change)="valueFromSize($event)">
                    <input type="radio" name="size" id="size" value="XS"> XS
                    <input type="radio" name="size" id="size" value="S"> S
                    <input type="radio" name="size" id="size" value="M"> M
                    <input type="radio" name="size" id="size" value="L"> L
                    <input type="radio" name="size" id="size" value="XL"> XL
                    <input type="radio" name="size" id="size" value="XXL"> XXL
                </form>
            </div>
            <button (click)="resetSearch()">RESET</button>
        </div>
        <div class="clothesShop">
            <div class="card" *ngFor="let data of arrayOfCardAll" [style.gridArea]="data[0]">
                <div class="card-img" [style.backgroundImage]="'url('+data[1]+')'"></div>
                <div class="card-body">
                    <div class="card-title">{{data[2]}} <br>USD {{data[3]}} <br> <select name="selectSize" id="selectSize"><option *ngFor="let data2 of data[6]" value="{{data2}}">{{data2}}</option></select></div>
                    <div class="card-button">
                        <button (click)="addProductInCart($event)">ADD TO CART</button>
                    </div>
                </div>
            </div>
            <h3 id="messageNoInStock">No product in stock at the moment!</h3>
        </div>
    </div>