<div class="aboutUsDivAll">
  <div class="aboutUsHeader">
    <div class="logo">
      <a routerLink="">
        <h1>UDEVSHOP.COM</h1>
      </a>
    </div>
    <div class="buttonGoToShop">
      <i class="fas fa-shopping-cart fa-4x" title="GO TO SHOP"></i>
    </div>
  </div>
  <div class="aboutUsMain">
    <div class="aboutUsMainText">
      <h2>Welcome to UDEVSHOP! As one of the leading online-shops for premium sneakers and urban fashion we always
        provide
        you with the newest models of the most popular brands. You will also find many shoes on sale and low-priced
        street wear. With its deep knowledge and experience in the street and basketball wear UDEVSHOP is known as
        THE expert for sneakerheads and street couture enthusiasts alike. </h2>
    </div>
    <div class="aboutUsFollowUs">
      <h2>FOLLOW US:</h2>
      <a href="https://www.facebook.com/" class="logoFaceBook"><i class="fab fa-facebook-square fa-6x"></i></a>
      <a href="https://www.instagram.com/" class="logoInsta"><i class="fab fa-instagram fa-6x"></i></a>
    </div>
  </div>
  <div class="footer">
    <a href="https://www.facebook.com/" class="logoFaceBook"><i class="fab fa-facebook-square fa-2x"></i></a>
    <a href="https://www.instagram.com/" class="logoInsta"><i class="fab fa-instagram fa-2x"></i></a>
    <h3>©2019 UDEV - Uroš Marinković. All rights reserved. </h3>
  </div>
</div>