<div class="aboutUsDivAll">
    <div class="logo">
        <a routerLink="">
            <h1>UDEVSHOP.COM</h1>
          </a>
    </div> 
  <div class="aboutUsMain">
    <div class="aboutUsMainText">
      <h1>Welcome to UDEVSHOP!</h1>
      <h3>As one of the leading online-shops for premium sneakers and urban fashion we always
        provide
        you with the newest models of the most popular brands. You will also find many shoes on sale and low-priced
        street wear. With its deep knowledge and experience in the street and basketball wear UDEVSHOP is known as
        THE expert for sneakerheads and street couture enthusiasts alike. </h3>
    </div>
    <div class="aboutUsImg">

    </div>
    <div class="aboutUsFollowUs">
      <h2>FOLLOW US:</h2>
      <a href="https://www.facebook.com/" class="logoFaceBook"><i class="fab fa-facebook-square fa-6x"></i></a>
      <a href="https://www.instagram.com/" class="logoInsta"><i class="fab fa-instagram fa-6x"></i></a>
      <a href="https://twitter.com/login" class="logoTwitter"><i class="fab fa-twitter fa-6x"></i></a>
    </div>
    <div class="footer">
        <h5>©2019 UDEV - Uroš Marinković. All rights reserved. </h5>
    </div>
  </div>
</div>