.contact{
     background-color: rgb(169,168,168);
     display: grid;
     grid-template-columns: 25% 50% 25%;
     grid-template-rows: 10% 50% auto;
     grid-template-areas: 
     ". . ."
     ". contactInformations ."
     ". contactInformationsGoogleMap .";
     height: 100%;
}
.contactInformations{
    animation: animationForContactInformations 1.3s both;
    border: 1px solid red;
    grid-area: contactInformations;
}
.contactInformationsGoogleMap{
    animation: animationForGoogleMap 1.3s both;
    border: 1px solid red;
    grid-area: contactInformationsGoogleMap;
}
@keyframes animationForContactInformations{
    0%{
        transform: translateY(-200%)
    }
    100%{
        transform: translateY(0)
    }
}
@keyframes animationForGoogleMap{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
