.startPageAll{
  background-color: white;  
  height: 100%;
  font-family:cursive;
}
.startPageAboutUs{
    background: linear-gradient(to bottom,  rgba(142,142,238,1) 0%,rgba(133,135,236,1) 29%,rgba(119,119,233,1) 62%,rgba(107,107,229,1) 100%);
    clip-path: polygon(50% 99%, 0 0, 100% 0);
    cursor: pointer;
    display: grid;
    height: 50%;
    position: absolute;
    text-align: center;
    width: 100%;
        h1{
         align-self: center;
         color: white;
         height: 10%;
       
        }
}
.startPageShop{
    background: linear-gradient(to right, rgb(76,76,76) 0%,rgb(89,89,89) 12%,rgb(102,102,102) 25%,rgb(71,71,71) 39%,rgb(44,44,44) 50%,rgb(17,17,17) 60%,rgb(0,0,0) 81%,rgb(43,43,43) 94%,rgb(28,28,28) 97%,rgb(19,19,19) 100%);
    display: grid;
    clip-path: polygon(0% 100%, 0 0, 99% 50%);
    cursor: pointer;
    height: 100%;
    position: absolute;
    text-align: center;
    width: 50%;
        h1{
            align-self: center;
            color: white;
            height: 5%;
        }
}

.startPageGallery{
    background: linear-gradient(to left, rgb(76,76,76) 0%,rgb(89,89,89) 12%,rgb(102,102,102) 25%,rgb(71,71,71) 39%,rgb(44,44,44) 50%,rgb(17,17,17) 60%,rgb(0,0,0) 81%,rgb(43,43,43) 94%,rgb(28,28,28) 97%,rgb(19,19,19) 100%);
    clip-path: polygon(100% 100%, 1% 50%, 100% 0);
    cursor: pointer;
    display: grid;
    height: 100%;
    position: absolute;
    right: 0;
    text-align: center;
    width: 50%;  
    
        h1{
            align-self: center;
            color: white;
            height: 5%;
        }
}
.startPageContact{
    background: linear-gradient(to top, rgba(142,142,238,1) 0%,rgba(133,135,236,1) 29%,rgba(119,119,233,1) 62%,rgba(107,107,229,1) 100%);
    bottom: 0;
    clip-path: polygon(100% 100%,0 100%, 50% 1%);
    cursor: pointer;
    display: grid;
    height: 50%;
    position: absolute;
    text-align: center;
    width: 100%;
        h1{
            align-self: center;
            color: white;
            height: 10%;
        }
}

.startPageAboutUs:hover,.startPageShop:hover,.startPageContact:hover,.startPageGallery:hover{
    h1{
        font-size: 45px;
    }
}


@keyframes animationForAboutUsPathLeftRight{
  0%{
        opacity: 1;
        width: 50%;     
  }
  100%{
        opacity: 0;
        width:10%;
  }
}
@keyframes animationForAboutUsPathBottomTop{
    0%{
          height:50%;
          opacity: 1;
    }
    100%{
          opacity: 0;
          height:10%;
    }
  }
@keyframes animationForSelectedPathTopBottom{
    0%{
        height: 50%;
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    100%{
        height: 100%;
        opacity: 0;
    }
}
@keyframes animationForSelectedPathRightLeft{
    0%{
        width:50%;
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    100%{
        width: 100%;
        opacity: 0;
    }
}