.galleryDivAll{
    background-color: rgb(169,168,168);
    display: grid;
    height: 100%;
}
.galleryMain{
    background-color: rgb(169,168,168);
}
.gallertFooter{
    background-color: rgb(169,168,168);
}