<div class="accessoriesAll">
    <div class="shopHeader">
        <div class="logo">
            <a routerLink="">
                <h1>UDEVSHOP.COM</h1>
            </a>
        </div>
        <div class="shopNavBar">
                <div class="filterIconDiv">
                        <i class="fas fa-filter fa-2x"></i>
                </div>
                <div class="barsIconDiv">
                        <i class="fas fa-bars fa-2x"></i>
                </div>
            <ul>
                <li><a routerLink="/shop/shoes">SHOES</a></li>
                <li><a routerLink="/shop/clothes">CLOTHES</a></li>
                <li><a routerLink="/shop/brands">BRANDS</a></li>
                <li><a routerLink="/shop/sales">SALES</a></li>
                <li><a routerLink="/shop/accessories">ACCESSORIES</a></li>
            </ul>
            <div class="shoppingBasket">
                <i routerLink="/shop/basket" class="fas fa-shopping-basket fa-2x"></i>
                <p>{{numOfProdInCart}}</p>
            </div>
        </div>
    </div>
    <div class="shopMain">
        <div class="search">
            <ul>
                <li (click)="showBags()">BAG</li>
                <li (click)="showCaps()">CAP</li>
                <li (click)="showSocks()">SOCKS</li>
            </ul>
        </div>
        <div class="shop">
            <div *ngFor="let data of arrayForAccessories" class="{{data[0]}}">
                <div class="card-img" [style.backgroundImage]="'url('+ data[1] +')'"></div>
                <div class="card-body">
                    <div class="card-title">{{data[2]}} <br>USD {{data[3]}} <br> <select name="selectSize" id="selectSize"><option *ngFor="let data2 of data[6]" value="{{data2}}">{{data2}}</option></select></div>
                    <div class="card-button">
                        <button (click)='addProductInCart($event)'>ADD TO CART</button>
                    </div>
                </div>
            </div>
        </div>
    </div>