<div class="basketAll">
    <div class="shopHeader">
        <div class="logo">
            <a routerLink="">
                <h1>UDEVSHOP.COM</h1>
            </a>
        </div>
        <div class="shopNavBar">
            <ul>
                <li><a routerLink="/shop/shoes">SHOES</a></li>
                <li><a routerLink="/shop/clothes">CLOTHES</a></li>
                <li><a routerLink="/shop/brands">BRANDS</a></li>
                <li><a routerLink="/shop/sales">SALES</a></li>
                <li><a routerLink="/shop/accessories">ACCESSORIES</a></li>
            </ul>
            <div class="shoppingBasket">
                <i routerLink="/shop/basket" class="fas fa-shopping-basket fa-2x"></i>
                <p>{{numOfProdInCart}}</p>
            </div>
        </div>
        <div class="basketHeader">
            <h2>Your Shopping Cart</h2>
            <hr>
        </div>
    </div>
    <div class="basketMain">
       <table class="basketTable">
           <tr>
               <th>Product name</th>
               <th>Quantity</th>
               <th>Product price</th>
           </tr>
           <tr *ngFor="let dataKeys of getKeysOfProductsFromLocal">
               <td class="productNameAndImg"><div class="productImg" [style.backgroundImage]="'url('+this.products.getProductsFromLocal[dataKeys].productImg+')'"></div><div class="productInfo"><h3>{{this.products.getProductsFromLocal[dataKeys].productName}}</h3></div></td>
               <td><input type="number"></td>
               <td>{{this.products.getProductsFromLocal[dataKeys].productPrice}}</td>
               <td><em>Remove</em></td>
           </tr>
       </table>
    </div>
    <!-- <div class="basketFooter">
        <h1>FOOTER</h1>
    </div> -->
</div>