.basketAll{
    animation: basketStart 1.5s both;
    height: 100%;
}
.logo{
    align-content: center;
    display: grid;
    grid-area: logo;
    text-align: center;
    a{
        color: rgba(107,107,229,1);
        font-family: cursive;
        text-shadow:15px 10px silver;
        text-decoration: none;
        transform: rotateY(45deg);
        h1{
            font-size: 42px;
            font-weight: 900;
        }
    }
}
.shopNavBar{
    border-top: 2px dashed rgba(107,107,229,1);
    border-bottom: 2px dashed rgba(107,107,229,1);
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 40px;
   grid-template-areas:
   ". ul shoppingBasket";
    text-align: center;
    ul{
        align-self: center;
        display: flex;
        grid-area: ul;
        justify-content: center;
        margin-bottom: 0;
       
        li{
            cursor: pointer;
            flex-direction: column;
            font-size: 20px;
            list-style: none;
            padding: 10px;
            a{
                color: black;
                font-weight: 600;
                text-decoration: none;
            }
        }
        li:hover{
            background-color: rgba(107,107,229,1);
            a{
                color: white;
            }
        }
    }
    .shoppingBasket{
        display: flex;
        color: black;
        grid-area: shoppingBasket;
        justify-content: center;
        i{
            cursor: pointer;
            align-self: end;
        }
    }
}
.basketHeader{
    text-align: center;
    h2{
        font-weight: 600;
        font-style: italic;
    } 
}
.basketMain{

    .basketTable{
        width: 100%;
        tr{
            border: 1px solid black;
            th{
                border: 3px solid black;
                text-align: center;
            }
            
            td{
                text-align: center;
                border: 1px solid black;
                em{
                    cursor: pointer;
                }
            }
        }
    }
}
.productNameAndImg{
text-align: end;
width: 50%;
    .productInfo{
        align-content: center;
        display: grid;
        float: right;
        height: 250px;
        position: relative;
        text-align: center;
        width: 50%;
      h3{
         font-weight: 600;
         font-style: italic;
      }
    }
    .productImg{
        background-size: contain;
        background-repeat: no-repeat;
        float: left;
        height: 250px;
        position: relative;
        width: 50%;
    }
}














@keyframes basketStart{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}