<div class="brandsAll">
    <div class="shopHeader">
        <div class="logo">
            <a routerLink="">
                <h1>UDEVSHOP.COM</h1>
            </a>
        </div>
        <div class="shopNavBar">
            <ul>
                <li><a routerLink="/shop/shoes">SHOES</a></li>
                <li><a routerLink="/shop/clothes">CLOTHES</a></li>
                <li><a routerLink="/shop/brands">BRANDS</a></li>
                <li><a routerLink="/shop/sales">SALES</a></li>
                <li><a routerLink="/shop/accessories">ACCESSORIES</a></li>
            </ul>
            <div class="shoppingBasket">
                <i routerLink="/shop/basket" class="fas fa-shopping-basket fa-2x"></i>
                <p>0</p>
            </div>
        </div>
        <div class="brandsLogo">
            <div class="nikeLogo" (click)="showNikeProducts()"></div>
            <div class="jordanLogo" (click)="showJordanProducts()"></div>
            <div class="adidasLogo" (click)="showAdidasProducts()"></div>
            <div class="underALogo" (click)="showUnderAProducts()"></div>
        </div>
    </div>
    <div class="brandsMain">
        <div *ngFor="let data of arrayForBrand" class="{{data[0]}}">
            <div class="card-img" [style.backgroundImage]="'url('+data[1]+')'"></div>
            <div class="card-body">
                <div class="card-title">{{data[2]}} <br> {{data[3]}}</div>
                <div class="card-button">
                    <button (click)='addProductInCart($event)'>ADD TO CART</button>
                </div>
            </div>
        </div>
    </div>
</div>