<div class="brandsAll">
    <div class="shopHeader">
        <div class="logo">
            <a routerLink="">
                <h1>UDEVSHOP.COM</h1>
            </a>
        </div>
        <div class="shopNavBar">
            <ul>
                <li><a routerLink="/shop/shoes">SHOES</a></li>
                <li><a href="">CLOTHES</a></li>
                <li><a href="">BRANDS</a></li>
                <li><a href="">SALES</a></li>
                <li><a href="">ACCESSORIES</a></li>
            </ul>
            <div class="shoppingBasket">
                <i class="fas fa-shopping-basket fa-2x"></i>
                <p>0</p>
            </div>
        </div>
    </div>
</div>