.brandsAll{
    animation: brandsStart 1.5s both;
    height: 30%;
}

.shopHeader{
    height: 100%;
    .brandsLogo{
        background: linear-gradient(to right, rgba(142,142,238,1) 0%,rgba(133,135,236,1) 29%,rgba(119,119,233,1) 62%,rgba(107,107,229,1) 100%);
        display: grid;
        grid-template-columns: 4% 20% 4% 20% 4% 20% 4% 20% 4%;
        grid-template-areas: 
        ". nikeLogo . jordanLogo . adidasLogo . underALogo .";
        margin-top: 1%;
        height: 45%;
        .nikeLogo{
            background-image: url('../../assets/brandsAssets/nike-logo.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
            grid-area: nikeLogo;
            justify-self: center;
            width: 80%;
          
           
        }
        .jordanLogo{
            background-image: url('../../assets/brandsAssets/jordan-logo.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
            grid-area: jordanLogo; 
            justify-self: center;
            width: 80%;
        }
        .adidasLogo{
            background-image: url('../../assets/brandsAssets/adidas-logo.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
            grid-area: adidasLogo; 
            justify-self: center; 
            width: 80%; 
        }
        .underALogo{
            background-image: url('../../assets/brandsAssets/underA-logo.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
            grid-area: underALogo;  
            justify-self: center; 
            width: 80%;
        }
    }
}

.logo{
    align-content: center;
    display: grid;
    grid-area: logo;
    text-align: center;
    a{
        color: rgba(107,107,229,1);
        font-family: cursive;
        text-shadow:15px 10px silver;
        text-decoration: none;
        transform: rotateY(45deg);
        h1{
            font-size: 42px;
            font-weight: 900;
        }
    }
}
.shopNavBar{
    border-top: 2px dashed rgba(107,107,229,1);
    border-bottom: 2px dashed rgba(107,107,229,1);
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 40px;
   grid-template-areas:
   ". ul shoppingBasket";
    text-align: center;
    ul{
        align-self: center;
        display: flex;
        grid-area: ul;
        justify-content: center;
        margin-bottom: 0;
       
        li{
            cursor: pointer;
            flex-direction: column;
            font-size: 20px;
            list-style: none;
            padding: 10px;
            a{
                color: black;
                font-weight: 600;
                text-decoration: none;
            }
        }
        li:hover{
            background-color: rgba(107,107,229,1);
            a{
                color: white;
            }
        }
    }
    .shoppingBasket{
        display: flex;
        color: black;
        grid-area: shoppingBasket;
        justify-content: center;
        i{
            cursor: pointer;
            align-self: end;
        }
    }
}

.brandsMain{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 100% 100% 100% 100% 100%;
    height: 600px;
    position: absolute;
    text-align: center;
    width: 100%;
    .card{
        .card-img{
            background-size: contain;
            background-repeat: no-repeat;
            margin: 0 auto;
            height: 50%;
            width: 50%;
        }
        .card-body{
            height: 40%;
            .card-title{
                font-weight: 700;
                height: 40%;
            }
            .card-button{
               button{
                background-color: white;
                border: 2px solid rgba(107,107,229,1);
                border-radius: 25%;
                padding: 5px;
                width: 50%;
               }
               button:hover{
                background-color: rgba(107,107,229,1);
                color: white;
                cursor: pointer;
               }
            }
        }
    }
}





@keyframes brandsStart{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

