.shopAll{
    animation: shopStart 1.5s both;
    height: 100%;
}

.logo{
    align-content: center;
    display: grid;
    grid-area: logo;
    text-align: center;
    a{
        color: rgba(107,107,229,1);
        font-family: cursive;
        text-shadow:15px 10px silver;
        text-decoration: none;
        transform: rotateY(45deg);
        h1{
            font-size: 42px;
            font-weight: 900;
        }
    }
}
    .shopNavBar{
        border-top: 2px dashed rgba(107,107,229,1);
        border-bottom: 2px dashed rgba(107,107,229,1);
        display: grid;
        grid-template-columns: 25% 50% 25%;
        grid-template-rows: 40px;
       grid-template-areas:
       ". ul shoppingBasket";
        text-align: center;
        .barsIconDiv{
            display: none;
            grid-area: barsIcon;
        }
        ul{
            align-self: center;
            display: flex;
            grid-area: ul;
            justify-content: center;
            margin-bottom: 0;
           
            li{
                cursor: pointer;
                flex-direction: column;
                font-size: 20px;
                list-style: none;
                padding: 10px;
                a{
                    color: black;
                    font-weight: 600;
                    text-decoration: none;
                }
            }
            li:hover{
                background-color: rgba(107,107,229,1);
                a{
                    color: white;
                }
            }
        }
        .shoppingBasket{
            display: flex;
            color: black;
            grid-area: shoppingBasket;
            justify-content: center;
            i{
                cursor: pointer;
                align-self: end;
            }
        }
    }

    .shopMainMarketing{
        display: grid;
        grid-template-columns:10.5% 10% 29% 1% 29% 10% 10.5%;
        grid-template-rows:5% 60% 70% 60% 5%;
        grid-row-gap: 1%;
        grid-template-areas: 
        ". . . . . . ."
        ". marketing1 marketing1 marketing1 marketing1 marketing1 ."
        ". marketing2 marketing2 . marketing3 marketing3 ."
        ". marketing4 marketing4 marketing4 marketing4 marketing4 ."
        "footer footer footer footer footer footer footer";
        height: 100%;
        .marketing-1{
            background-size: 100% 100%;
            background-repeat: no-repeat;
            grid-area: marketing1;
            img{
                height: 100%;
                width: 100%;
            }
          
        }
        .marketing-2{
            background-size: 100% 100%;
            background-repeat: no-repeat;
            grid-area: marketing2;
            
        }
        .marketing-3{
            background-size:100% 100%;
            background-repeat: no-repeat;
            grid-area: marketing3;
           
        }
        .marketing-4{
            background-size:100% 100%;
            background-repeat: no-repeat;
            grid-area: marketing4; 
        }
    }
    .footer{
        align-content: center;
        background: linear-gradient(to right, rgba(142,142,238,1) 0%,rgba(133,135,236,1) 29%,rgba(119,119,233,1) 62%,rgba(107,107,229,1) 100%);
        color: white;
        display: grid;
        grid-area: footer;
        text-align: center;
    }

@keyframes shopStart{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media only screen and (max-width:800px){
    .shopMainMarketing{
        grid-template-rows:2% 30% 35% 30% 5%;
    }
    
}
@media only screen and (max-width:700px){
.shopMainMarketing{
        grid-template-rows:2% 60% 60% 60% 5%;
}
.shopNavBar{
    grid-template-areas:
    ". barsIcon shoppingBasket";
    ul{
        display: none;
    }
    .barsIconDiv{
        align-self: center;
        display: block;
    }
}
}
@media only screen and (max-width:420px){
    .shopMainMarketing{
        grid-template-rows:2% 40% 40% 40% 8%;
}
}