<div class="shopAll">
    <div class="shopHeader">
        <div class="logo">
            <a routerLink="">
                <h1>UDEVSHOP.COM</h1>
            </a>
        </div>
        <div class="shopNavBar">
            <ul>
                <li><a routerLink="/shop/shoes">SHOES</a></li>
                <li><a routerLink="/shop/clothes">CLOTHES</a></li>
                <li><a routerLink="/shop/brands">BRANDS</a></li>
                <li><a routerLink="/shop/sales">SALES</a></li>
                <li><a routerLink="/shop/accessories">ACCESSORIES</a></li>
            </ul>
            <div class="shoppingBasket">
                <i routerLink="/shop/basket" class="fas fa-shopping-basket fa-2x"></i>
                <p>{{numOfProdInCart}}</p>
            </div>
        </div>
    </div>

    <div class="shopMainMarketing" id="shopMainMarketing">
        <div class="marketing-1" id="marketing-1"></div>
        <div class="marketing-2" id="marketing-2"></div>
        <div class="marketing-3" id="marketing-3"></div>
        <div class="marketing-4" id="marketing-4"></div>
        <div class="footer">
            <h5>©2019 UDEV - Uroš Marinković. All rights reserved. </h5>
        </div>
    </div>
</div>