/* You can add global styles to this file, and also import other style files */

*{
    margin: 0;
    padding: 0;
}
html,body{
    height:100%;
    // background: linear-gradient(to left, rgba(19,19,19,1) 1%,rgba(44,44,44,1) 5%,rgba(76,76,76,1) 20%,rgba(89,89,89,1) 30%,rgba(89,89,89,1) 69%,rgba(76,76,76,1) 80%,rgba(44,44,44,1) 95%,rgba(19,19,19,1) 99%);
}