<div class="shoesAll">
    <div class="shopHeader">
        <div class="logo">
            <a routerLink="">
                <h1>UDEVSHOP.COM</h1>
            </a>
        </div>
        <div class="shopNavBar">
            <ul>
                <li><a routerLink="/shop/shoes">SHOES</a></li>
                <li><a routerLink="/shop/clothes">CLOTHES</a></li>
                <li><a routerLink="/shop/brands">BRANDS</a></li>
                <li><a routerLink="/shop/sales">SALES</a></li>
                <li><a routerLink="/shop/accessories">ACCESSORIES</a></li>
            </ul>
            <div class="shoppingBasket">
                <i routerLink="/shop/basket" class="fas fa-shopping-basket fa-2x"></i>
                <p>{{numOfProdInCart}}</p>
            </div>
        </div>
    </div>
    <div class="shoesMain">
        <div class="shoesSearch">
            <select name="gender" id="selectGender" (change)="valueFromSelectListGender($event)">
                <option value="" selected>ALL</option>
                <option value="men">MEN</option>
                <option value="women">WOMEN</option>
                <option value="kids">KIDS</option>
            </select>
            <div class="shoseBrand">
                <h4>CHOOSE BRAND :</h4>
                <form action="?" method="POST" id="chooseBrand" (change)="valueFromBrands($event)">
                    <input type="radio" name="brand" id="brand" value="jordan"> JORDAN
                    <input type="radio" name="brand" id="brand" value="nike"> NIKE
                    <input type="radio" name="brand" id="brand" value="adidas"> ADIDAS
                    <input type="radio" name="brand" id="brand" value="under armour"> UNDER ARMOUR
                </form>
            </div>
            <div class="shoseSize">
                <h4>CHOOSE SIZE :</h4>
                <form action="?" method="POST" id="chooseSize" (change)="valueFromSize($event)">
                    <input type="radio" name="size" id="size" value="30"> 30
                    <input type="radio" name="size" id="size" value="31"> 31
                    <input type="radio" name="size" id="size" value="32"> 32
                    <input type="radio" name="size" id="size" value="33"> 33
                    <input type="radio" name="size" id="size" value="34"> 34
                    <input type="radio" name="size" id="size" value="35"> 35
                    <input type="radio" name="size" id="size" value="36"> 36
                    <input type="radio" name="size" id="size" value="36.5"> 36.5
                    <input type="radio" name="size" id="size" value="37"> 37
                    <input type="radio" name="size" id="size" value="37.5">37.5
                    <input type="radio" name="size" id="size" value="38"> 38
                    <input type="radio" name="size" id="size" value="38.5">38.5
                    <input type="radio" name="size" id="size" value="39"> 39
                    <input type="radio" name="size" id="size" value="39.5">39.5
                    <input type="radio" name="size" id="size" value="40"> 40
                    <input type="radio" name="size" id="size" value="40.5">40.5
                    <input type="radio" name="size" id="size" value="41"> 41
                    <input type="radio" name="size" id="size" value="41.5">41.5
                    <input type="radio" name="size" id="size" value="42"> 42
                    <input type="radio" name="size" id="size" value="42.5">42.5
                    <input type="radio" name="size" id="size" value="43"> 43
                    <input type="radio" name="size" id="size" value="43.5">43.5
                    <input type="radio" name="size" id="size" value="44"> 44
                    <input type="radio" name="size" id="size" value="44.5">44.5
                    <input type="radio" name="size" id="size" value="45"> 45
                    <input type="radio" name="size" id="size" value="45.5">45.5
                    <input type="radio" name="size" id="size" value="46"> 46
                    <input type="radio" name="size" id="size" value="46.5">46.5
                </form>
            </div>
            <button (click)="resetSearch()">RESET</button>
            <p>If you 100% true search, click reset button, after first search !</p>
        </div>
        <div class="shoesShop">
            <div *ngFor="let data of arrayOfCardAll" [style.gridArea]="data[0]" class="card">
                <div class="card-img" [style.backgroundImage]="'url('+ data[1] +')'"></div>
                <div class="card-body">
                    <div class="card-title">{{data[2]}}<br>USD {{data[3]}}</div>
                    <div class="card-button">
                        <button (click)="addProductInCart($event)">ADD TO CART</button>
                    </div>
                </div>
            </div>
            <h3 id="messageNoInStock">No product in stock at the moment!</h3>
        </div>
    </div>