.shoesAll{
    animation: shoseStart 1.5s both;
    height: 100%;
}

.logo{
    align-content: center;
    display: grid;
    grid-area: logo;
    text-align: center;
    a{
        color: rgba(107,107,229,1);
        font-family: cursive;
        text-shadow:15px 10px silver;
        text-decoration: none;
        transform: rotateY(45deg);
        h1{
            font-size: 42px;
            font-weight: 900;
        }
    }
}
.shopNavBar{
    border-top: 2px dashed rgba(107,107,229,1);
    border-bottom: 2px dashed rgba(107,107,229,1);
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 40px;
   grid-template-areas:
   ". ul shoppingBasket";
    text-align: center;
    .filterIconDiv{
        display: none;
        grid-area:filterIcon;
    }
    .barsIconDiv{
        display: none;
        grid-area:barsIcon;
    }
    ul{
        align-self: center;
        display: flex;
        grid-area: ul;
        justify-content: center;
        margin-bottom: 0;
       
        li{
            cursor: pointer;
            flex-direction: column;
            font-size: 20px;
            list-style: none;
            padding: 10px;
            a{
                color: black;
                font-weight: 600;
                text-decoration: none;
            }
        }
        li:hover{
            background-color: rgba(107,107,229,1);
            a{
                color: white;
            }
        }
    }
    .shoppingBasket{
        display: flex;
        color: black;
        grid-area: shoppingBasket;
        justify-content: center;
        i{
            cursor: pointer;
            align-self: end;
        }
    }
}

.shoesMain{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: 
    "shoesSearch shoesShop";
    height: 100%;
    text-align: center;                                      
    .shoesSearch{
        background:linear-gradient(to bottom, rgba(102,102,102,1) 0%,rgba(91,91,91,1) 18%,rgba(121,121,121,1) 31%,rgba(181,181,181,1) 45%,rgba(181,181,181,1) 56%,rgba(255,255,255,1) 73%);
        display: flex;
        flex-direction: column;
        grid-area:shoesSearch; 
        select{
            background-color: rgba(107,107,229,1);
            color: white;
            margin: 5% auto;
            position: relative;
            width: 50%;
        }
        .shoseSize{
            align-content: center;
            justify-content: center;
            display: grid;
            margin: 3% auto;
            height: 30%;
            text-align: center;
            width: 70%;
            h4{
                color: white;
                font-weight: 600;
                font-style: italic;
            }
            form{
                background-color: rgba(107,107,229,1);
                color: white;
                display: grid;
                font-weight: 600;
                grid-template-columns: auto auto;
                height: 50%;
                overflow-y:scroll;
                text-align: start;
                width: 100%;
            }
        }
        .shoseBrand{
            align-content: center;
            justify-content: center;
            margin: 3% auto;
            height: 20%;
            text-align: center;
            width: 70%;
            h4{
                color: white;
                font-weight: 600;
                font-style: italic;
            }
            form{
                background-color: rgba(107,107,229,1);
                color: white;
                height: 50%;
                display: grid;
                grid-template-columns: auto auto;
                overflow-y: auto;
                width: 100%;
            }
        }
        button{
            background-color: white;
            border: 2px solid rgba(107,107,229,1);
            border-radius: 50%;
            color: rgba(107,107,229,1);
            cursor: pointer;
            font-weight: 600;
            margin: 3% auto;
            height: 100px;
            width: 50%;
        }
        button:hover{
            background-color: rgba(107,107,229,1);
            color: white;
        }
        p{
            font-size: 10px;
        }
    }
    .shoesShop{
        display: grid;
        grid-template-columns: 24% 1% 24% 1% 24% 1% 24%;
        grid-auto-rows: 100%;
        grid-template-areas: 
        "card1 . card2 . card3 . card4"
        "card5 . card6 . card7 . card8"
        "card9 . card10 . card11 . card12"
        "card13 . card14 . card15 . card16"
        "card17 . card18 . card19 . card20";
        height: 600px;
        text-align: center;
        width: 100%;
        grid-area:shoesShop; 
        .card{
            .card-img{
                height: 50%;
                background-size: contain;
                background-repeat: no-repeat;
            }
            .card-body{
                height: 40%;
                .card-title{
                    font-weight: 700;
                    height: 40%;
                }
                .card-button{
                   button{
                    background-color: white;
                    border: 2px solid rgba(107,107,229,1);
                    border-radius: 25%;
                    padding: 5px;
                    width: 50%;
                   }
                   button:hover{
                    background-color: rgba(107,107,229,1);
                    color: white;
                    cursor: pointer;
                }
                }
            }
        }
        h3{
            color: red;
            display: none;
            position: absolute;
            top: 50%;
            width: 80%;
        }
    }
}
.modalForResponsiveNavBar{
    background-color: rgba(0,0,0,0.3);
    display: none;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    .ResponsiveUlList{
        align-content: center;
        background-color: rgba(255, 255, 255, 0.8);
        display: grid;
        height: 50%;
        justify-content: center;
        left: 25%;
        position: fixed;
        top: 25%;
        width: 50%;
        ul{
            list-style: none;
            li{
                line-height: 30px;
                text-align: center;
                a{
                    color: black;
                    font-weight: 600;
                    text-decoration: none;
                }
            }
        }
    }
}


@keyframes shoseStart{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@media only screen and (max-width:800px){
    .shoesMain{
        .shoesSearch{
            select{
                width: 95%;
            }
            .shoseBrand{
                width: 95%;
                h4{
                    font-size: 18px;
                }
            }
            .shoseSize{
                height: 25%;
                width: 95%;
                h4{
                    font-size: 18px;
                }
            }
            button{
                margin: 0 auto;
                width: 80%;
            }
        }
        .shoesShop{
            grid-template-columns: 32% 1% 32% 1% 32% 1%;
            grid-auto-rows: 80%;
            grid-template-areas: 
            "card1 . card2 . card3 . "
            "card4 . card5 . card6 . "
            "card7 . card8 . card9 . ";
            .card{
                .card-img{
                    height: 40%;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
                .card-body{
                    height: 85%;
                    .card-title{
                        font-weight: 600;
                        height: 60%;
                    }
                    select{
                        width: 100%;
                    }
                    .card-button{
                       button{
                        background-color: white;
                        border: 2px solid rgba(107,107,229,1);
                        border-radius: 25%;
                        padding: 5px;
                        width: 100%;
                       }
                       button:hover{
                        background-color: rgba(107,107,229,1);
                        color: white;
                        cursor: pointer;
                    }
                    }
                }
            }
         }
    
    }
 
}
@media only screen and (max-width:700px){
    .shopNavBar{
        grid-template-areas:
        "filterIcon barsIcon shoppingBasket";
        .filterIconDiv,.barsIconDiv{
            display: flex;
            align-content: center;
            justify-content: center;
            i{
                align-self: center; 
                cursor: pointer;
            }
        }
        ul{
            display: none;
        }
    }
    .shoesMain{
        grid-template-areas: 
        "shoesShop shoesShop";
        .shoesShop{
            .card{
                .card-img{
                    height: 60%;
                }
            }
        }
        .shoesSearch{
            background:linear-gradient(to bottom, rgba(102,102,102,0.8) 0%,rgba(91,91,91,0.8) 18%,rgba(121,121,121,0.8) 31%,rgba(181,181,181,0.8) 45%,rgba(181,181,181,1) 56%,rgba(255,255,255,1) 100%);
            display: none;
            height: 85%;
            position: fixed;
            width: 50%;
            z-index: 2;
            .shoseBrand{
                height: 30%;
            }
            .shoseSize{
                height: 30%;
            }
            button{
                margin-top: 5%;
            }
        }
    }
}
@media only screen and (max-width:600px){
.shoesMain{
    .shoesShop{
        grid-template-columns: 49% 1% 49%;
        grid-auto-rows: 100%;
        grid-template-areas: 
        "card1 . card2 "
        "card3 . card4 "
        "card5 . card6 "
        "card7 . card8";
        
        .card{
            .card-img{
                background-size: contain;
                background-repeat: no-repeat;
            }
            .card-body{
                height: 85%;
                .card-title{
                    font-weight: 600;
                    height: 60%;
                }
                select{
                    width: 100%;
                }
                .card-button{
                   button{
                    background-color: white;
                    border: 2px solid rgba(107,107,229,1);
                    border-radius: 25%;
                    padding: 5px;
                    width: 100%;
                   }
                   button:hover{
                    background-color: rgba(107,107,229,1);
                    color: white;
                    cursor: pointer;
                }
                }
            }
        }
     }
    }
}
@media only screen and (max-width:420px){
    .shoesMain{
        .shoesShop{
            grid-template-columns: 100%;
            grid-auto-rows: 100%;
            grid-template-areas:"card1""card2""card3""card4""card5""card6""card7""card8";
            
            .card{
                .card-img{
                    align-self: center;
                    height: 100%;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
                .card-body{
                    height: 85%;
                    .card-title{
                        font-weight: 600;
                        height: 60%;
                    }
                    select{
                        width: 100%;
                    }
                    .card-button{
                       button{
                        background-color: white;
                        border: 2px solid rgba(107,107,229,1);
                        border-radius: 25%;
                        padding: 5px;
                        width: 100%;
                       }
                       button:hover{
                        background-color: rgba(107,107,229,1);
                        color: white;
                        cursor: pointer;
                    }
                    }
                }
            }
         }
        }
}
